### Print

In [1]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [2]:
print("Hello World!")

Hello World!

In [3]:
print(123)

123

In [4]:
print('My Name is Ahmet')

My Name is Ahmet

In [7]:
print('My name is "Ahmet"')

My name is "Ahmet"

In [11]:
print("My name is \n 'Ahmet'")

My name is
 'Ahmet'

In [12]:
print("Ahmet","Mehmet",123)

Ahmet Mehmet 123

In [13]:
print("Ahmet","Mehmet",123, sep='   ')

Ahmet   Mehmet   123

In [14]:
print("Ahmet","Mehmet",123, sep=' next ')

Ahmet next Mehmet next 123

In [75]:
print("Ahmet","mehmet",123,sep='\n')

Ahmet
mehmet
123

In [16]:
print("My favorit fruits are: Apple,\t orange,\t Banana")

My favorit fruits are: Apple,	 orange,	 Banana

In [21]:
print("my name is Ahmet", end='\n\n\n')
print("Your name is Mehmet")

my name is Ahmet


Your name is Mehmet

In [22]:
print("Ahmet","Mehmet",123, sep=' next argument ', end='\t')
print("my name is Ahmet", end='\n\n\n')
print("Your name is Mehmet")

Ahmet next argument Mehmet next argument 123	my name is Ahmet


Your name is Mehmet

In [23]:
print("My name is \"Ahmet\"")

My name is "Ahmet"

In [24]:
print('My name is \'Ahmet\'')

My name is 'Ahmet'

### Python Variable

In [25]:
x=5
print(x)

5

In [26]:
_ahmet=5
print(_ahmet)

5

In [28]:
ahmet_var=55
var1="Benim degiskenim"
print(ahmet_var)
print(var1)

55
Benim degiskenim

In [76]:
_1=65
print(_1)

65

In [30]:
degisken12="Mehmet"
print(degisken12)

del degisken12
print(degisken12)

Mehmet

NameError: name 'degisken12' is not defined

In [31]:
x=5
x=10
x="Ten"
print(x)

Ten

In [32]:
a=b=c=15  # Multipe assignment
print(a)
print(b)
print(c)

15
15
15

In [34]:
a,b,c="Ali",123,'Apple'
print(a,c,c,"\t", b)

Ali Apple Apple 	 123

### Types of Variables

In [ ]:
# Metin: str
# Sayi: int,float,complex

In [35]:
a="Ahmet"
print(type(a))

<class 'str'>

In [36]:
b="123"
print(type(b))

<class 'str'>

In [41]:
ab=23
AB=65.4
print(type(ab))
print(type(AB))

<class 'int'>
<class 'float'>

In [42]:
print(ab+AB)

88.4

In [43]:
x=5+4j
print(type(x))

<class 'complex'>

In [44]:
exponet=5e4
print(type(exponet))

<class 'float'>

In [45]:
x=10
y=5
print(x+y)
print(x-y)
print(x*y)
print(x**y)   #Exponent 
print(x/y)      # float
print(x//y)     #int (Floor division)

15
5
50
100000
2.0
2

In [47]:
c=12
print(x%y)
print(c%y)

0
2

In [49]:
print(c/y)
print(c//y)

2.4
2

In [51]:
myvar="Python is a good program"
print(len(myvar))

24

### Converting the Data Types

In [56]:
a=12
print("this is the type of a", type(a))
b=str(a)
print(b)
print("the type of b is",type(b))

this is the type of a <class 'int'>
12
the type of b is <class 'str'>

In [58]:
x="1256"
print(x)
print("Type of x:", type(x))

y=int(x)
print(y)
print("Type of y:", type(y))

1256
Type of x: <class 'str'>
1256
Type of y: <class 'int'>

In [60]:
v="15"
n=27
z=float(v)
print(z+n)

42.0

In [77]:
x=input("please enter your number")

print("The number you entered is:" , x)

The number you entered is: 45

In [64]:
x=input("please enter your username")
y=input("please enter your password")

print("This is your username:", x ,"\n", "Your password is:" , y )

This is your username: Ahmet
 Your password is: asdfg

In [67]:
x= input()
print(x)
print(type(x))

555
<class 'str'>

In [81]:
# This calculator is for finding cube values
x= int(input("Please enter your number : "  ))

y=x**3
print(y)

343

In [85]:
# Finding Cubic root
number=int(input("Your Number: "))
kok=number**(1/3)
print(kok)
son_cevap=round(kok)
print("Son cevap: ", son_cevap)

3.9999999999999996
Son cevap:  4

In [94]:
print(round(14))
print(round(14.2))
print(round(14.5))
print(round(14.50000001))
print(round(14.6))

print(type(round(14.8)))

14
14
14
15
15
<class 'int'>

In [95]:
print(round(56.875432578,2))

56.88

In [99]:
print(round(84.00365343,5))

84.00365

In [100]:
print(type(round(84.6553,3)))

<class 'float'>

In [101]:
print(type(round(84.6553,)))

<class 'int'>

In [ ]:
help(math)

In [109]:
import math

x=456.01
print(math.ceil(x))  # Round up (tavana yuvarlma)

457

In [107]:
import math
print(math.floor(456.5)) # Round Down (tabana yuvarlama)

456

In [110]:
# This machine is converting Celsius to Fahrenheit

cel=float(input("Please enter your Celsius value: "))
Fahrenheit= (cel*9)/5+32

print("Sizin girdiginiz Celsis degeri: ", cel, "\n","Fahrenheit degeri: ", Fahrenheit )

Sizin girdiginiz Celsis degeri:  100.0
 Fahrenheit degeri:  212.0

In [ ]:
# This machine is converting   Fahrenheit to Celsius

In [121]:
# 3 sayinin ortalamasini bulacak bir makine
a=int(input("1.sayi:" ))
b=int(input("2.sayi:" ))
c=int(input("3.sayi:" ))

print("Girdikleriniz sayilar: ",a,b,c, sep='\n' )
ortalama=(a+b+c)/3
print("Girdiğiniz sayıların ortalaması: " , ortalama)

Girdikleriniz sayilar:
8
9
10
Girdiğiniz sayıların ortalaması:  9.0

In [120]:
print(1,3,4,5,"ali","veli",sep='\n' )

1
3
4
5
ali
veli

In [123]:
# bool: True, False
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [126]:
x=5
y=10
print(x==y)
print(x>y)
print(x<y)

False
False
True

In [138]:
print(bool())
print(bool(1))
print(bool(66))
print(bool("Ahmet"))
print(bool(""))
print(bool(" "))

False
True
True
True
False
True

In [140]:
print(int(True))
print(int(False))

1
0